<h2>Homepage</h2>

<% //if (!currentUser) { %> 
    <p>Please sign in</p>
<% //} else { %> 
    <p>Search for anime here...</p>
    <form method="GET" action="/anime/details">
        <label for="animeTitle">Anime Title</label>
        <input type="text" name="userInput" id="animeTitle">
        <input type="submit">
    </form>
<% //}; %> 