<h2>Homepage</h2>


<p>Search for anime here...</p>
<form method="GET" action="/anime/details">
    <label for="animeTitle">Anime Title</label>
    <input type="text" name="userInput" id="animeTitle">
    <input type="submit">
</form>