<h1 class="text-center">Profile page</h1>

<div class="container">
<h3>Account Information</h3>
    <div>
        <p>Name: <%= name %></p>
    </div>
    <div>
        <p>Email: <%= email %></p>
    </div>
<a href="/edit/<%= email %>">Edit</a>
</div>
