<ul>
<h2>Anime Details</h2>
<% if (anime.coverImage) { %>
    <img src="<%= anime.posterImage.small %>" alt="<%= anime.titles.en %>" >
<% } %>


<p><strong>Anime Name:</strong> <%= anime.titles.en %></p>

<p><strong>Description</strong><br/> <%= anime.description %></p>

<a href="/">&larr; Home</a>
</ul>
