<h2>Favorites Page</h2>

<% favorites.forEach(anime => { %>
    <li>
    <img src="<%= anime.dataValues.image %>">
    <%= anime.dataValues.title %>
    </li>
<% }); %>

<br/>
<a href="/">&larr; Home</a>