<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>

  <body>
    <%- include('partials/alerts') %> 
    <header>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd">
        <ul>
            <div class="input-group">
              <!-- HOME PAGE -->
              <li><a href="/" class="navbar-brand">Home Page</a></li>
          <% if (!currentUser) { %> 
              <!-- DISPLAYS ONLY FOR NON-LOGGED IN USERS -->
              <li><a href="/auth/signup" class="navbar-brand">Sign Up</a></li>
              <li><a href="/auth/login" class="navbar-brand">Login</a></li>
          <% } else { %> 
              <!-- DISPLAYS ONLY FOR LOGGED IN USERS -->
              <li><a href="/auth/logout" class="navbar-brand">Logout</a></li>
              <li><a href="/profile" class="navbar-brand">Profile</a></li>
              <li><a href="/anime/favorites" class="navbar-brand">Favorites</a></li>
          <% } %>
              <!-- SEARCH BAR -->
              <form method="GET" action="/anime/details" class="form-inline">
                <div class="input-group">
                  <div class="input-group-prepend d-flex justify-content-end">
                    <input type="text" name="userInput" id="animeTitle"> <!-- TEXT FIELD -->
                    <input type="submit" value="Hello"> <!-- SUBMIT BUTTON -->
                </div>
              </div>
            </form>
          </div>
        </ul>
      </nav>
    </header>
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>

